$black: #4f4f4f;
$gray: #828282;
$yellow: #f7df94;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  color: $black;
}

header {
  display: flex;
  justify-content: flex-end;

  .random {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.1rem;

    h5 {
      font-size: 1.8rem;
      font-weight: 500;
    }

    .ico {
      width: 1.6rem;
      height: 2.2rem;
    }
  }
}

.container {
  padding: 3.1rem 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 689px) {
    padding-inline: 2rem;
  }
}

main {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  width: 80%;

  @media screen and (max-width: 689px) {
    width: 100%;
  }

  .quote {
    border-left: 0.8rem solid $yellow;
    padding-left: 10%;

    article {
      font-size: 3.6rem;
      font-weight: 500;
      color: #000;
    }
  }

  .meta {
    margin-left: calc(10% + 0.8rem);

    .author {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }

    .genre {
      font-size: 1.4rem;
      font-weight: 500;
      color: $gray;
    }
  }
}

footer {
  text-align: center;
  font-size: 1.4rem;
  color: $gray;

  span {
    font-weight: 700;
  }
}
